{% extends 'base.html.twig' %}

{% block title %}Exchange Result{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <div class="example-wrapper">
        <h1>Exchange result</h1>
        <p>Exchange {{ amount }} {{ origin }} for {{ dest }}:</p>
        <div>
            <h4 style="display:inline-block">{{ result }} {{ dest }}</h4> <small>({{ datetime|date('D j F, G:i')|lower }})</small>
        </div>
    </div>
{% endblock %}
